@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    @font-face{
        font-family: mainFont;
        src: url(../assets/Poppins/Poppins-Regular.ttf)
    }
  }

.hidden{
    display: none;
}

.normale{
    display: block;
}

.darkBlue{
    background-color: #273043;
}

.darkBeige{
    background-color: #CFC6B7;
}

.opaqueWhite{
    background-color: rgb(255, 255, 255, 0.8);
}

.dropdownBtn{
    width: 20%;
}

.mobileBg {
    background: url(/mobilebackground.png) no-repeat center center fixed;
    background-size: cover;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    font-family: mainFont !important;
    font-size: 20px !important;
}