@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    @font-face{
        font-family: mainFont;
        src: url(../assets/Poppins/Poppins-Regular.ttf)
    }
  }

.hidden{
    display: none;
}

.normale{
    display: block;
}

.darkBlue{
    background-color: #273043;
}

.darkBeige{
    background-color: #CFC6B7;
}

.opaqueWhite{
    background-color: rgb(255, 255, 255, 0.8);
}

.dropdownBtn{
    width: 20%;
}

.searchBorder {
    border-color: rgba(207, 198, 183, 1);
}