@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    @font-face{
        font-family: mainFont;
        src: url(../assets/Poppins/Poppins-Regular.ttf)
    }

    @font-face{
        font-family: poppinsMed;
        src: url(../assets/Poppins/Poppins-Medium.ttf)
    }

    @font-face {
        font-family: poppinsBold;
        src: url(../assets/Poppins/Poppins-Bold.ttf);
    }

    @font-face {
        font-family: poppinsExtra;
        src: url(../assets/Poppins/Poppins-ExtraBold.ttf);
    }

  }

.hidden{
    display: none;
}

.normale{
    display: block;
}

.darkBlue{
    background-color: #273043;
}

.darkBeige{
    background-color: #CFC6B7;
}

.opaqueWhite{
    background-color: rgb(255, 255, 255, 0.8);
}

.dropdownBtn{
    width: 20%;
}

.searchBorder {
    border-color: rgba(207, 198, 183, 1);
}

.mobileBg {
    background: url(/mobilebackground.png) no-repeat center center fixed;
    background-size: cover;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    font-family: mainFont !important;
    font-size: 20px !important;
}

.navhover:hover{
    color: #CFC6B7 !important;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(57, 28, 11, 1), 0 0 1em rgba(39, 48, 67, 1), 0 0 0.2em rgba(39, 48, 67, 1);
/* text-stroke: 4px navy; */
}

.pfp{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.friendPfp{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.arrowBtn{
    height: 41px;
    width: 41px;
    background-color: #92b7c7;
    border-radius: 50%;
    z-index: 0;
}

.arrowBox {
    height: 50px;
    width: 50px;
}

.settingsImg {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.members {
    border: solid 20px rgba(207, 198, 183, 1);
    height: 470px;
}

.member-img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.mobileInputUser{
    font-family: poppinsMed;
    background-color: rgb(255, 255, 255, 0);
    border-bottom: 1px solid darkgray;
    padding-left: 40px;
    background-position: 10px 1px;
    background-image: url(../assets/grey\ pfp\ transparent.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.mobileInputPass{
    font-family: poppinsMed;
    background-color: rgb(255, 255, 255, 0);
    border-bottom: 1px solid darkgray;
    padding-left: 40px;
    background-position: 10px -1px;
    background-image: url(../assets/grey\ lock\ transparent.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.tabActive{
    color: #a49781;
}
.tabActive:focus{
    color: #391C0B;
}
.tabActive:active{
    color: #391C0B;
}

.cardTxt > .p-6 {
    padding: 10px !important;
}

.cardImg > .p-6 {
    padding: 0 !important;
}

.css-1l742km-MuiListItem-root {
    background-color: rgba(207, 198, 183, 1) !important;
}

.tabsFont {
    font-family: 'mainFont' !important;
}

/* Styles for the Chips component */
.p-chips {
    width: 100%;
    background-color: rgb(249, 250,251);
    border-radius: 0.5rem;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  /* Styles for the input field inside Chips */
  .p-chips-input-token {
    width: 100px;
    border-radius: 0.5rem;
    background-color: rgb(249, 250,251);
  }
  
  /* Styles for individual chip items */
  .p-chips-token {
    background-color: rgba(39, 48, 67, 1);
    color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 2px;
    padding: 1.5px 10px;
  }

  /* Styles for close icon in chip items */
  .p-chips-token-icon {
    padding-left: 2px;
    color: #777;
    cursor: pointer;
  }

  /* Remove border and focus styles for Chips input */
.p-chips-input-token input {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 0.75rem;
    background-color: rgb(255, 255, 255, 0.8);
  }
  
  /* Remove border and focus styles for Chips input when focused */
  .p-chips-token:focus-within input {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    background-color: rgb(255, 255, 255, 0.8);
  }